body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/*header*/
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: ivory;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 30px;
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-shadow: -5px -3px 16px;
}

/*nav*/

.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color:black;
    margin: 0 15px;
    vertical-align: top;
    position: relative;
    transition: color 0.5s linear;
}

.nav__link:after {
    content: "";
    background-color: green;
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 10px;

    transition: opacity 0.5s linear;
}

.nav__link:active {
    color: darkred;
}

.nav__link:hover {
    color: green;
}

.nav__link:hover:after{
    opacity: 1;
}

/*Intro*/

.intro {
    position: relativex;
   margin-top: 130px;
    background: url("../images/it\ img.jpg") center  no-repeat;
    background-size: cover;
    width:100%;
    height: 115vh;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__uptitle{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    font-weight: 500;
    color: lavender;

}

.intro__title {
    margin-top: 10px;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    color: azure; 
    text-shadow: -4px -3px;   
}

.intro__title::after{
    content: "";
    background-color: white;
    width: 80px;
    height: 3px;

    margin: 30px auto;
    display: block;
}

/*Button*/

.btn {
    margin: 0 auto;
         font-size: 20px;
        color: #fafafa;
        padding: 16px 26px;
        display: block;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0px 6px #ae277a;
        background: #cc2e9d;
     }

    .btn:hover {
        background: #d43680;
    }

    .btn:active {
        position: relative;
        top: 6px;
        box-shadow: 0px 0px #a3234e;
        background: #a3234e;
    }

/*Slider*/

.slider {
    margin-top: 200px;
    width: 100%;    
}

.slider__inner{
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.slider__item::before{
    content: "";
    margin-bottom: 5px;
    display: block;
    background-color: white;
    width: 150px;
    height: 3px;
}

.slider__item.active::before{
background: linear-gradient(to right,red 50%,white 50% 50%);
}

.slider__num{
    font-weight: 900;
    font-size: 30px;
}

/*Section*/

.section{
    padding: 80px 0;
}

.section__header{
    width: 100%;
    max-width: 850px;
    margin: 0 auto ;

    text-align: center;
}

.section__uptitle{
    font-size: 25px;
    color: #333;
    font-family: sans-serif;
}

.section__title{
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
}

.section__title::after{
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    margin: 50px auto;

    background-color: rgb(219, 52, 52);

}

.section__text{
    font-size: 18px;
    font-weight: 900;
    color: #333;
}

.about{
    display: flex;
    justify-content: space-between ;
    margin-top: 80px;
}

.about__item {
    width: 280px;
    height: 280px;
    background-image: repeating-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(9,10,238,1) 10%, rgba(255,255,255,1) 20%, rgba(9,10,238,1) 30%, rgba(255,255,255,1) 40%, rgba(9,10,238,1) 50%, rgba(250,250,250,1) 60%, rgba(9,10,238,1) 70%, rgba(250,250,250,1) 80%, rgba(9,10,238,1) 90%, rgba(252,252,252,1) 100%);
    /*repeating-radial-gradient(circle,
    #3d77a6, #74accf, #c6f1f1,
    #ffffff, #3d77a6 6px);*/
    background-size: 70px 70px;
    
    position: relative;
}

.about__item:hover .about__img img{
    opacity: 0.2;

}

.aboutme {
    width: 280px;
    height: 280px;
}

.about__img{
    background: linear-gradient(to bottom,#74accf,#6c92b1 );
    transition: transform 0,2s linear;
    height: 280px;
}

.about__item:hover .about__img{
    transform:translate3d(-10px,-10px,0) ;
}

.about__item:hover .about__text{
    opacity: 1;
}

.about__text{
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    position: absolute;

    text-align: center;
    top: 50%;
    left: 0;
    color: black;
    font-weight: 900;
    z-index: 2;
    opacity: 0;

    transform:translate3d(0,50%,0) ;
    transition: opacity 0.2s linear;

}

/*statistics*/

.statistics {
    background-color: lightblue;
}

.stat__inner {
    display: flex;
}

.stat {
    flex: 1 1 0;
    padding: 70px 50px;
    text-align: center;
    color: white;

    border-left: 1px solid white;
}

.stat:last-child{
    border-right: white 1px solid;
}

.stat__num {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    text-transform: uppercase;
    font-size: 14px;
}


/*section*/



.services {
    display: flex;
 
    margin-top: 50px;
    margin-bottom: 50px;
}

.services__item{
    flex: 1 1 0;
    margin: 0 auto;
    position: relative;
    padding-left: 85px;
    padding-right: 35px;
}

.services__title{
    text-transform: uppercase;
    font-size: 20px;
}

.services__text{
    padding: 10px;
    color: rgba(22, 22, 22, 0.671);
}

.services__icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}


/*section whatwedo*/

.wedo {
    display:flex;
} 

.wedo__item{
    width: 50%;
}

.wedo__item.map{
    height: 400px;
    width: 580px;
    margin-right: 10px;
    background-image: url(../images/Пустую-карту-Украина.jpg);
    background-size: cover;
    border: solid black;

    position: relative;
}

.pin{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #f3244a;
    position: absolute;
    cursor: pointer;
}

.pin.Vinnica {
    top: 170px;
    left: 210px;
}

.pin.Fastiv{
    top:120px;
    left:250px
}

.pin.Kiev{
    top:100px;
    left:270px
}

.pin .town {
    position: absolute;
    top: -1px;
    left: 20px;
    color: #0e0c0c;
    text-shadow: 1px 1px 0px #555555;
}
    /*Accordion*/

.accordion__item{
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active.accordion__content{
    display: block;
}

.accordion__item.active.accordion__header::after{
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header{
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    padding: 20px 20px 15px 70px;
    cursor: pointer;
}


.accordion__header::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #ccc;
    border-right: solid 2px #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.accordion__content{
    padding: 15px 20px;
    font-size: 15px;
    display: none;
    font-style: italic;
    font-weight: 300;
    color: #999999;
}

/*reviews*/

.section.section--gray{
 background-image:linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(255,255,255,0.02984943977591037) 50%, rgba(201,201,201,1) 100%);
}

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}

.reviews__photo{
    border: 2px solid #95e1d3;
    width: 145px;
    height: 145px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text{
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
}

.reviews__author{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: #333333;
}

.reviews__author::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 3px;
    margin-right: 10px;
    background-color: red;
}

.reviews__btn{
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__btn::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border-top: 2px solid rgba(41, 39, 39, 0.8);
    border-left: 2px solid rgba(41, 39, 39, 0.8);
}

.reviews__btn--prev {
    transform: rotate(-45deg);
    left: 0;
}

.reviews__btn--next {
    transform: rotate(135deg);
    right: 0;
}

/* Social */


.social__item{
    width: 50px;
    height: 50px;
    padding: 12px 10px;

    text-decoration: none;
    font-size: 30px;

    background-color: #fce38a;
    border-right: 1px solid #f38181;

    color:#f38181 ;
    line-height: 1;
}

.social__item:last-child{
    border-right: 0;
}

.social__item:hover{
    color: #fff;
    background-color: #f38181;
}